.article {
    display: flex;
    flex-flow: column wrap;
}

.strikethrough {
    text-decoration: line-through;
}

.description {
    display: flex;
    flex-flow: column;
}

.description__name {
    align-self: center;
}

.description__image {
    align-self: center;
}

.intro {
    display: flex;
    flex-flow: column wrap;
}

.strengthsWeaknesses {
    display: flex;
    flex-flow: column wrap;
}

.friendships {
    display: flex;
    flex-flow: column wrap;
}

.career {
    display: flex;
    flex-flow: column wrap;
}

.workplace {
    display: flex;
    flex-flow: column wrap;
}

.celebrity {
    display: flex;
    flex-flow: row wrap;
}

.celebrity__card {
    display: flex;
    flex-flow: column wrap;
}